{% include "_head.html" %}

	<title>Success</title>
</head>
<body>

{% include "_nav.html" %}

	<h2>Welcome {{ owner['name'] }}</h2>
	<ul>
		<li>{{count[0]['count']}} people poked you.</li>
	</ul>
	
	<h3>The number who poked you</h3>
	{% for user in users %}
	<ul>
		{% if user['friend_pokes'] == None %}
			<div></div>
		{% else %}
			<li>{{user['name']}} poked you {{user['friend_pokes']}} times.</li>
		{% endif %}
	</ul>
	{% endfor %}

	<h3>People you may want to poke</h3>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Alias</th>
			<th>Email Address</th>
			<th>Poke History</th>
			<th>Action</th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{ user['name'] }}</td>
			<td>{{ user['alias'] }}</td>
			<td>{{ user['email'] }}</td>
			{% if user['user_pokes'] == None %}
				<td>0</td>
				<td>
					<form action="/insert_poke/{{ user['id'] }}" method="post">
						<input type="hidden" name="number" value="0">
						<input type="submit" value="poke">
					</form>
				</td>
			{% else %}
				<td>{{ user['user_pokes'] }}</td>
				<td>
					<form action="/insert_poke/{{ user['id'] }}" method="post">
						<input type="hidden" name="number" value="{{user['user_pokes']}}">
						<input type="submit" value="poke">
					</form>
				</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>

{% include "_end.html" %}
